asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.3.2
Django==5.0.1
django-cors-headers==4.3.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
idna==3.6
numpy==1.25.2
opencv-contrib-python==4.8.1.78
opencv-python==4.8.1.78
Pillow==10.1.0
PyJWT==2.8.0
pytz==2023.3
requests==2.31.0
resources==0.0.1
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.0.4
